* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: r;
}

html,
body {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: r;
    src: url(./5fefec2b3d8f862ba6f9e015_PlusJakartaDisplay-Regular.ttf);
}

@font-face {
    font-family: b;
    src: url(./5fefec2b51352b01a3f07d6c_PlusJakartaDisplay-Bold.ttf);
}

@font-face {
    font-family: l;
    src: url(./5fefec2b973b9b027d22c1f1_PlusJakartaDisplay-Light.ttf);
}

@font-face {
    font-family: m;
    src: url(./5fefec2bb7e494bef790bc4c_PlusJakartaDisplay-Medium.ttf);
}

#main {
    width: 100%;
    background-color: ;
    
}

#page1 {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: relative;
}

#nav {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;

}

#nleft {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nleft h1 {
    font-family: b;
    font-size: 27px;
    padding-left: 200px;
    white-space: nowrap;
}

#nleft span {
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    background-size: contain;
}

#nleft a {
    text-decoration: none;
    color: #000;
}

#nright {
    width: 44%;
    height: 100%;
    display: flex;

    align-items: center;
    gap: 40px;


}

#nright a {
    text-decoration: none;
    color: #000;
    font-family: m;
    font-size: 16px;
    transition: linear 0.1s;
}



#nright i {
    font-size: 19px;
    font-weight: 500;

}

#nright a:hover {
    color: grey;
}

#nright :nth-child(5):hover #navarrow {
    padding-left: 10px;
}

#nright :nth-child(5):hover {
    color: #000;
}

#nright :nth-child(5) i {
    transition: linear 0.2s;
}

#page1 h1 span {
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: b;

}

#page1>h1 {
    font-size: 78px;
    font-family: b;
    width: 600px;
    position: absolute;
    top: 22%;
    left: 17.5%;
    line-height: 80px;
    letter-spacing: -2px;

}

#page1>h2 {
    color: #666666;
    font-family: l;
    font-size: 23px;
    position: absolute;
    top: 50%;
    left: 17.5%;
    font-weight: 500;
}



#colour {
    width: 150px;
    height: 57px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    
    
    position: relative;
}

#black {
    width: 150px;
    height: 57px;
    background-color: black;
    position: absolute;
    right: 5%;
    bottom: 12%;
    transition: linear .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#black>p{
    color: #fff;
    font-family: m;
    font-size: 18px;
}

#black:hover {
    right: 0%;
    bottom: 0%;
}

#aandcolor>a{
    font-family: b;
    font-size: 18px;
    font-weight: 900;
   
    padding-bottom:9px;
    
    text-decoration: none;
    color: #000;
}

#aandcolor>a:hover #resumearrow{
    padding-left: 10px;
}

#resumearrow{
    transition: linear 0.2s;
}

#aandcolor{
    display: flex;
    align-items: center;
    gap: 40px;
    left: 18%;
    top: 62%;
    position: absolute;
}



#darkmode{
    width: 25px;
    height: 25px;
    position: relative;
   
    
}

#darkmode img{
    height: 25px;
}

#light{

    position: absolute;
    left: 0;
    opacity: 0;
    
    
}

#dark{
    opacity: 1;
}

#expertin{
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
}

#etop p{
    font-size: 18px;
}

#etop{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#ebtm{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
   
}

#ebtm img{
    height: 100px;
    width: 100px;
}



#page2 {
    width: 100vw;
    height: 90vh;
    position: relative;
    padding-left: 10vw;
    padding-right: 10vw;
}

#page2>h3{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    background-size: cover;
    font-family: m;
    font-size: 22px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 10%;
    letter-spacing: 5px;
}

#page2>h1{
    font-size: 55px;
    font-family: b;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 20%;
    text-align: center;

}

#page2content{
    width: 100%;
    height: 65%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    
}

.content{
    width: 250px;
    height: 90%;
    position: relative;
}

.content h3{
    font-size: 25px;
    font-family: b;
    padding-top:20px ;
    
}

.content p{
    color: #666666;
    padding-top:20px ;
    padding-bottom: 5px;
    line-height: 28px;
}

.content h4{
    margin-top: 15px;
    font-family: b;
}

.content img{
    height: 70px;
}




#page3{
    width: 100%;
    height: 80vh;
   
}

#tright h3{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    background-size: cover;
    font-family: m;
    font-size: 22px;
    letter-spacing: 5px;
}

#tright h1{
    font-size: 55px;
    font-family: b;
    

}


#p3top{
    width: 100%;
    height: 200px;
    display: flex;
}

#tright{
    width: 50%;
    height: 100%;

    padding-left: 350px;

}

#tleft{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

#tleft #colour{
    width: 200px;
}

#tleft #black{
    width: 200px;
}

#cardsdiv{
    width:100%;
    height: 570px;
    background-color: red;
    display: flex;
    align-items: center;
    
    gap: 20px;

    
}

.cards{
    width: 500px;
    height: 450px;
    background-color: lightblue;
    
    
}


